body {
background-color: #bce6eb;
margin-top: 2px;
margin-left:245px;
margin-right:315px;
margin-bottom: 2px;
border-top-width: 10px;
border-top-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
border-left-width: 10px;
border-left-style: solid;
border-color: #fca3cc;
padding-bottom: 0px;
}
form {
    text-align: center;
}
.description{
    margin-bottom:0;
}
.weather-icon {
    width: 50px;
margin-bottom: 0;}
.fa-cloud-showers-heavy {
    font-size:25px;}
.main{            width: 769px;
    height:658px;
               background-image: url("clouds.jpeg"); }
h1  {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    Font-size:50px; 
}
    h2{text-align:center;}
h2,h3{
    font-family: 'Abril Fatface', cursive;}   
button{ 
        font-family: 'Abril Fatface', cursive;} 
   
        p.date {position: absolute;
            font-family: 'Abril Fatface', cursive;
    Font-size:50px}

    .col-2 {font-family: 'Abril Fatface', cursive;}

p.date,i.fas.fa-icicles {
text-align: right;
padding-top:0;
}
p.date{top:-9px;
    margin-left:225px;
}
small{display: inline;
margin: 0 auto;}

