

body {
background-color: #bce6eb;
margin-top: 11px;
margin-left:245px;
margin-right:328px;
margin-bottom: 2px;
border-top-width: 10px;
border-top-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
border-left-width: 10px;
border-left-style: solid;
border-color: #fca3cc;
padding-bottom: 0px;
}
form {
    text-align: center;
}
.row{
    margin-left: 15px;       
    margin-right: -14px;
}
.description{
    margin-bottom:0;
}
.weather-icon {
   width: 77px;
margin-bottom: -13px;
height: 74px;
margin-left: -13px;
margin-top: -39px;
}

.main{            width: 756px;
    height:600px;
    margin-left: -15px;
    background-image: url("clouds.jpeg");}
               
    
    .col-3{width: 214px;
                   margin-left: -19px;
margin-top: 34px;
width: 726px;
               }
               .forecast-header{margin-left:232px;
            margin-top:8px;    
        margin-bottom:-8px;}
               .forecast-time {   
                margin-bottom:-37px;}
               .forecast-icon {margin-bottom: -25px;}

h1 {
  padding-left: 50px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
h2
 {
    text-align: center;
  font-family: "Abril Fatface", cursive;
}
h3{font-family: "Abril Fatface", cursive;}
button {
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
    form{text-align: center;}

h3{
    font-family: 'Abril Fatface', cursive;}   
button{ 
        font-family: 'Abril Fatface', cursive;} 

    .col-2 {font-family: 'Abril Fatface', cursive;}


small{display: inline;
margin: 0 auto;
margin-top: 19px;}

ul {
  margin-top:18px;
}
ul li {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  list-style-type: none;
}

